/* @@@@@@@@@@@@@@@@@@@@@@@@@@ Buttons @@@@@@@@@@@@@@@@@@@@@@@@@@ */

.loginbutton {
	-fx-background-color: #1e824c;
	-fx-background-radius: 20;
}

.loginbutton:hover {
	-fx-background-color: #135230;
	-fx-background-radius: 20;
}

.loginbutton:pressed {
 	-fx-background-color: #135230;
 	 box-shadow: "0 5px #666";
  	-fx-translate-y: 4px;
}


.serverButton{
	-fx-background-color: #1e824c;
	-fx-background-radius: 20;
}
.serverButton:hover {
	-fx-background-color: #135230;
	-fx-background-radius: 20;
}

.serverButton:pressed {
 	-fx-background-color: #135230;
 	 box-shadow: "0 5px #666";
  	-fx-translate-y: 4px;
}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@ Backgrounnd @@@@@@@@@@@@@@@@@@@@@@@@@@ */
.transparent{
	-fx-background-color: transparent;
}

.backgroundColorHeader{
	-fx-background-color: #69B33D;
}

.backgroundColorLight{
     -fx-background-color: #97C77B;
}


.mouse-moved:hover{
    -fx-background-color: #90BE75;
}

.mouse-moved:pressed{
    -fx-background-color : #607E4E;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0),10, 0, 0, 10);
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@ TextField @@@@@@@@@@@@@@@@@@@@@@@@@@ */

.centeredTextArea .scroll-pane .content .text {
    -fx-text-alignment: center;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@ Text @@@@@@@@@@@@@@@@@@@@@@@@@@ */
